.button{
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 24px ;
    padding-inline-end: 24px ;
    padding-block-start: 13px ;
    padding-block-end: 13px ;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button.is-secondary{
    background-color: transparent;
    color: var(--purple);
    border: 2px solid var(--purple);
}

.linked-group {
    display: none;
    align-items: center;
    gap: 1em;
}

.linked{
    font-family: var(--fontBase2);
    font-weight: 700;
    color: var(--purple);
    text-decoration: underline;
    display: flex;
    gap: 10px;
}


@media screen and (min-width: 1024px) {

    .button{
        max-inline-size: 255px;
    }

    .linked-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}