.project{
    /* TODO: para probar padding global
    padding-block-start: 40px;
    padding-block-end: 40px; */
}

.project-btns{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-description{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-image img{
    width: -webkit-fill-available;
    max-inline-size: 100%;
}



/*  */

@media screen and (min-width: 768px) {
    .project{
        display: flex;
        align-items: center;
        gap: 2em;
        /* TODO:  Se lo saco para probar el padding global
        padding-block-start: 80px;
        padding-block-end: 80px; */
    }
    .project-description{
        flex: 1;
    }
    .project:nth-child(odd) .project-image{
        order: -2;
        flex: 1;
        /* para que ocupe el 50% */
        text-align: center;
    }
    .project-btns{
        flex-direction: row;
    }
}

